.container {
  margin-top: 90px;
  border: 1px solid #ffc107;
  padding: 20px;
  border-radius: 5px;
}

.btn-custom {
  background-color: #ffc107; /* Couleur de fond */
  border-color: #ffc107; /* Couleur de la bordure */
  color: #000; /* Couleur du texte */
}

.btn-custom:hover {
  background-color: #e0a800; /* Couleur de fond au survol */
  border-color: #e0a800; /* Couleur de la bordure au survol */
  color: #000; /* Couleur du texte au survol */
}

.form-check-input:checked {
  background-color: #ffc107;
}


.nav-item a#flight-hotel-tab {
  color: #ffc107;
}
.nav-item a#flight-hotel-tab {
  color: #ffc107;
}

/* New styles for holidays-tab, hotels-tab, and cars-tab */
.nav-item a#holidays-tab {
  color: #ffc107;
}

.nav-item a#hotels-tab {
  color: #ffc107;
}

.nav-item a#cars-tab {
  color: #ffc107;
}